body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 400px;
}

input {
  margin-left: 1%;
  width: 400px;
  padding: 5px;
  font-size: 14px;
}

button {
  font-size: 14px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 5px;
}

h1 {
  color: rgb(15, 16, 17);
  font-size: 28px;
}

h2 {
  color: rgb(81, 131, 197);
  font-size: 24px;
}

h3 {
  display: inline-block;
  font-weight: normal;
  color: rgb(81, 131, 197);
  font-size: 18px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}
